body {
    font-family: 'Quicksand', sans-serif;
}

.main {
max-width: 1000px;
margin: 0 auto;
}

.topbar {
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.navigation {
    max-width: 1000px;
    padding: 16px;
    display: none;
}

.navigation__link {
    display: block;
    padding: 16px;
}

.navigation--open {
    display: block;
}
 .hamburger__button {
     position: absolute;
     top: 10px;
     right: 16px;
     border: none;
     background-color: transparent;
 }

 .hamburger__icon {
     width: 30px;

 }


.header {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: linear-gradient(180deg, #8B80A8 6.66%, #A0A1E2 54.84%, #A0A0E0 100%);
    justify-content: center;
}
.header__text {
margin: 16px;
text-align: center;
}
.header__button {
    width: 100px;
    height: 100px;
    border-radius: 25px;
    margin: 16px;
}
.about-me {
height: 300px;
background-color: #E6F6F7;
}

.flex {
min-height: 100vh;
display: flex;
list-style: none;
flex-flow: row wrap;
justify-content: center;
align-content: space-around;
align-items: center;
padding: 0;
}

.flex__item {
border: 3px solid #347FAE;
background-color: #E5C4CA;
width: 200px;
height: 200px;
text-align: center;
font-size: 20px;
flex-basis: 400px;
flex-shrink: 1;
}
.flex__image {
display: block;
max-width: 100%;
}
.klasa-z-js {
    border: 2px solid black;
    border-radius: 25px;
}

.klasa-z-js2 {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navigation {
        padding: 16px;
        display: flex;
        justify-content: space-around;
        height: 100px;
        align-items: center;
        width: 100%;

    }
    .header {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: linear-gradient(180deg, #8B80A8 6.66%, #A0A1E2 54.84%, #A0A0E0 100%);
        justify-content: center;
    }

    .hamburger__button {
        display: none;
    }
}